body
{
	background-color: orange;
}

button 
{
	margin-top:220px;
	float:left;
	height:200px;
	background-color: blue;
	color: yellow;
}
	
img 
{
	float:left;
	margin-right:10px;
	margin-left:10px;
}